* {/*para todos los elementos */
  transition: all 0.5s;
  cursor:url("imagenes/pezSimpsons1.png"), auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "simpsonFont";
  src: url("fuentes/Simpsonfont DEMO.otf");
}
body {
  width: 100%;/*ancho de un elemento*/
  background-image: url("imagenes/fondoo.png") ;
  font-family: "simpsonFont";/*fuentes del texto*/
}
.contenedor-index {
  width: 100%;
  overflow: auto;/*la overflowpropiedad css controla lo que sucede con el contenido que es demasiado grande para caber en un área*/
  margin: 0 auto;
}
header{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.titulo {
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
}
main {
  display: flex;/*para comenzar a trabajar con el modelo flex box, debemos comenzar por definir un contener flexible-> display:flex;*/
  flex-wrap: wrap;/*La flex-wrap propiedad especifica si los elementos flexibles deben ajustarse o no.
  El wrapvalor especifica que los elementos flexibles se ajustarán si es necesario*/
  justify-content: center;
}
section {
  flex: 70%;
  /*background-color: turquoise;*/
  padding:20px;
  box-sizing: border-box;
}
aside {
  flex: 30%;
  padding: 20px;
  /*box-sizing: border-box;*/
  /*background-color: yellowgreen;*/
  display: flex;
  flex-direction: column;
  align-items: center
}
.tv {
  width: 50%;
  height: 50%;
}
button {
background-color: transparent;
border: none;
}
.sofa {
width: 60%;
height: 70%;
}
.sofa:hover {
background-color: yellow;
}
:root {
  --w: calc(20vw /2);/*ancho */
  --h: calc(58vh /4);/*alto */
}
div {
  display: inline-block;
}
.area-tarjeta,
.tarjeta,
.cara-trasera,
.cara-superior {
  width: var(--w);/*ancho*/
  height: var(--h);/*largo*/
  border-radius: 20px;
}
.tarjeta {
  position: relative;
  transform-style: preserve-3d;/*para ver ambos lados*/
  animation: iniciar 5s;
}
.cara-superior, .cara-trasera {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
}
.area-tarjeta:hover .tarjeta{
  transform: rotateY(180deg);
}
.cara-trasera {
  background-color:#FFEC5E;
  transform: rotateY(180deg);
}
.cara-superior {
  background-image: url("imagenes/caravisiblee.jpg");
  background-size: cover;
}
@keyframes inicio {
  20%,90%{/*gira la cara*/
      transform: rotateY(180deg);
  }
  0%,100%{/*rota la cara*/
    transform: rotateY(0deg);
  }
}
.imagenesSimpsons {
  height: 90%;
  max-width: 90%;
}
/*
.tablero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  grid-gap: 2px;
}*/
/*@media (max-width: 479px)
.tablero {
    display: none!important;
    height: 0!important;
      }*/
