* {/*para todos los elementos */
  transition: all 0.5s;
  cursor:url("imagenes/pezSimpsons1.png"), auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "simpsonFont";
  src: url("fuentes/Simpsonfont DEMO.otf");
}
body {
  width: 100%;/*ancho de un elemento*/
  background-image: url("imagenes/fondoo.png") ;
  font-family: "simpsonFont";/*fuentes del texto*/
}
.firstPage { /*main pagina 1*/
  display: flex;/*para comenzar a trabajar con el modelo flex box, debemos comenzar por definir un contener flexible-> display:flex;*/
  flex-wrap: wrap;/*La flex-wrap propiedad especifica si los elementos flexibles deben ajustarse o no.
  El wrapvalor especifica que los elementos flexibles se ajustarán si es necesario*/
  justify-content: center;
}
.container-title1 { /*header pagina 1*/
  display:flex;
  flex-direction: column;
  align-items: center;
}
h1{
  color:#FFEC5E;
  font-size: 40pt;/*dimension de letras*/
  text-shadow: black 0.1em 0.1em 0.2em ;/*sombra del texto*/
  text-align: center;
}
.instructions { /*seccion pagina 1*/
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: "simpsonFont";
  color:#FFEC5E;
  text-shadow: black 0.1em 0.1em 0.2em ;/*sombra del texto*/
}
button {
  background-color: transparent;
  border: none;
}
.gif {
  width: 80%;
  height: 80%;
  border-radius: 12px;
}
.gif:hover {
  background-color: yellow;
}  
.foot1page { /*footer pagina 1*/
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.conteiner-index {
  width: 100%;
  overflow: auto;/*la overflowpropiedad css controla lo que sucede con el contenido que es demasiado grande para caber en un área*/
  margin: 0 auto;
}
.conteiner-title2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title2 {
  width: 60%;
  height: 60%;
  margin: 0;
  padding: 0;
}
.page2 {
  display: flex;/*para comenzar a trabajar con el modelo flex box, debemos comenzar por definir un contener flexible-> display:flex;*/
  flex-wrap: wrap;/*La flex-wrap propiedad especifica si los elementos flexibles deben ajustarse o no.
  El wrapvalor especifica que los elementos flexibles se ajustarán si es necesario*/
  justify-content: center;
}  
.boardGame { /*tablero*/
  flex: 70%;
  /*background-color: turquoise;*/
  padding: 20px;
  box-sizing: border-box;
}
/*.tv {
  width: 50%;
  height: 50%;
}*/
:root {
  --w: calc(20vw /2);/*ancho */
  --h: calc(58vh /4);/*alto */
}
div {
  display: inline-block;
}
.area-tarjeta,
.tarjeta,
.cara-trasera,
.cara-superior {
  width: var(--w);/*ancho*/
  height: var(--h);/*largo*/
  border-radius: 20px;
}
.tarjeta {
  position: relative;/*le da una posicion en la pagina*/
  transform-style: preserve-3d;/*para ver ambos lados*/
}
.cara-superior,.cara-trasera {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
}
.area-tarjeta:hover .tarjeta{
transform: rotateY(180deg);
}
.cara-trasera {
  background-color:#FFEC5E;
  transform: rotateY(180deg);
}
.cara-superior {
  background-image: url("imagenes/caravisiblee.jpg");
  background-size: cover;
}
.imagesSimpsons {
  height: 90%;
  max-width: 90%;
}
.page2 {
  display: none;
}
