* {/*para todos los elementos */
  transition: all 0.5s;
  cursor:url("imagenes/pezSimpsons1.png"), auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "simpsonFont";
  src: url("fuentes/Simpsonfont DEMO.otf");
}
body {
  width: 100%;/*ancho de un elemento*/
  background-image: url("imagenes/fondoo.png") ;
  font-family: "simpsonFont";/*fuentes del texto*/
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*.firstPage { /*main pagina 1*/
 /* display: flex;/*para comenzar a trabajar con el modelo flex box, debemos comenzar por definir un contener flexible-> display:flex;*/
  /*flex-wrap: wrap;/*La flex-wrap propiedad especifica si los elementos flexibles deben ajustarse o no.
  El wrapvalor especifica que los elementos flexibles se ajustarán si es necesario*/
  /*justify-content: center;
  flex-direction: column;
  aligner-items: center;
}*/
.container-title1 { /*header pagina 1*/
  display:flex;
  flex-direction: column;
  align-items: center;
}
.title1 {
width: 100%;
}
.instructions { /*seccion1*/
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: "simpsonFont";
  color:#FFEC5E;
  text-shadow: black 0.1em 0.1em 0.2em ;/*sombra del texto*/
  /*justify-content: space-between*/ /*se suponía se separaba las instrucciones del boton gif*/
}
article {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: pre-line;
  line-break: auto;
  font-size: 30pt;
  align-items: center
}
p {
  font-size: 20pt;
  letter-spacing: 2px;
}
/*button {
  background-color: transparent;
  border: none;
}*/
.gif {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: float 5s infinite;
  position: relative;
  bottom: -70px;
}
@keyframes float {
  0% {transform: translateY(0px);}
  50% {transform: translateY(-20px);}
  100% {transform: translateY(0px);}
}
.gif:hover {
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px 10px 70px #FFEC5E;
  transition: all 0.2s ease;
}
/*.foot1page { /*footer pagina 1*/
  /*display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}*/
.pageTwo { /*seccion2*/
  display: flex;/*para comenzar a trabajar con el modelo flex box, debemos comenzar por definir un contener flexible-> display:flex;*/
  flex-wrap: wrap;/*La flex-wrap propiedad especifica si los elementos flexibles deben ajustarse o no.
  El wrapvalor especifica que los elementos flexibles se ajustarán si es necesario*/
  justify-content: center;
  display: none;
}  
.boardGame { /*tablero*/
  /*display: flex;
  flex: 70%;
  /*background-color: turquoise;*/
  /*padding: 20px;
  box-sizing: border-box;*/
  display: flex;
  flex-wrap: wrap;
}
/*.tv {
  width: 50%;
  height: 50%;
}*/
:root {
  --w: calc(20vw /2);/*ancho */
  --h: calc(58vh /4);/*alto */
}
div {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto auto;
}
.area-tarjeta {
  width: var(--w);/*ancho*/
  height: var(--h);/*largo*/
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
}
.tarjeta, .cara-superior, .cara-trasera {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.tarjeta {
  position: relative;/*le da una posicion en la pagina*/
  transform-style: preserve-3d;/*para ver ambos lados*/
  transition: 1s;
  margin: 5px;
  animation: iniciar 5s;
}
.cara-superior, .cara-trasera {
  position: absolute;
  backface-visibility: hidden;
}
.cara-trasera {
  background-color:#FFEC5E;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
}
.cara-superior {
  background-image: url("imagenes/caravisiblee.jpg");
  background-size: cover;
}
.imagesSimpsons {
  height: 90%;
  max-width: 90%;
}
.tarjeta.descubierta {
  transform: rotateY(-180deg);
}
.tarjeta.ganadora {
  pointer-events: none;
}
@keyframes iniciar {

  60%,
  90% {
      transform: rotateY(180deg);
  }
  30%,
  100% {
      transform: rotateY(0deg);
  }
}

